@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bs-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Noto Sans KR", Helvetica, Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Pretendard-Regular" !important;
}

html {
    font-size: 20px;
}

@media screen and (max-width: 767px){
    html {
        font-size: 20pt;
    }
}

nav.navbar {
    font-size: 1em !important;
}

#content {
    margin: 0 auto;
    margin-top: 30px;
}


.peck {
    width: 700px !important;
}

#content-toc ul {
    margin-bottom: 0px !important;
}
