@import url('github-markdown-light.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --bs-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", Helvetica, Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 20px;
}

	
@media (max-width: 767px) {
    html {
        font-size: 26px;
    }

    .peck {
        width: 90% !important;
    }

    #content {
        margin: 0 12px !important;
    }
}

nav.navbar {
    font-size: 1rem !important;
}

#content {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.peck {
    width: 50%;
}

#content-toc ul {
    margin-bottom: 0px !important;
}

#content-body {
    font-size: 1rem;
}

#content-body p {
    margin-left: 5px;
}

a.anchor-link {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    vertical-align: text-top;
}

.anchor-link > svg {
    opacity: 0.5;
    transform: scale(0.8);
}
