<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-self-auto" id="mainNav"><!-- sticky-top -->
    <div class="container px-4">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Params.brandName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {{ with .Site.GetPage "/" }}
                {{ range .Pages }}
                {{ if .IsPage }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </li>
                {{ else if (and (.IsSection) (not (index .Params "headless"))) }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ .Title }}</a>
                    <ul class="dropdown-menu" data-bs-theme="dark">
                        <li>
                            <a class="dropdown-item" href="{{ .RelPermalink }}">
                                대문
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        {{ with .Site.GetPage (add "/" .Type) }}
                        {{ if gt .Sections.Len 0 }}
                        {{ partial "header/dropdown-items.html" .Sections }}
                        <li><hr class="dropdown-divider"></li>
                        {{ end -}}
                        {{ partial "header/dropdown-items.html" .RegularPages }}
                        {{ with (index .Params "links") -}}
                        <li><hr class="dropdown-divider"></li>
                        {{ range $v := (sort . "weight") -}}
                        <li>    
                            <a class="dropdown-item" href="{{ if hasPrefix $v.value "http" }}{{ $v.value }}{{ else }}{{ $v.value | markdownify }}{{ end }}" target="_blank">
                                {{ $v.name }}
                            </a>
                        </li>
                        {{ end -}}
                        {{ end -}}
                        {{ end -}}
                    </ul>
                </li>
                {{ end -}}
                {{ end -}}
                {{ end -}}
            </ul>
        </div>
    </div>
</nav>
